<h1> All Professors </h1>

  <% @professors.each do |professor| %>
    <h4>Professor Name: <%= professor.name %></h4>
    <h4>Professor Age: <%= professor.age %></h4>
    <h4>Professor Specialty: <%= professor.specialty %></h4>
  <% end %>
